.shoppingpage{
    margin-top: 30px;
    margin-bottom: 20px;
}
.shoppingpage .list-box{
    margin-left: 375px;
}
.shoppingpage .list-box .list{
    width: 150px;
    height: 40px;
    text-align: center;
    position: relative;
}
.shoppingpage .list-box .list .title{
    color: #fff;
    height: 20px;
    width: 20px;
    font-size: 14px;
    background-color: #bfbfbf;
    border-radius: 50px;
    margin: 0 auto;
}
.shoppingpage .list-box .list .title-a{
    width:150px;
    height: 2px;
    background-color: #bfbfbf;
    position: absolute;
    z-index:-1;
    top: 10px;
}
.shoppingpage .list-box .list .title-b{
    font-size: 14px;
    color: #bfbfbf;
}
.content-box .address{
    border: 1px solid #626262;
    padding-bottom: 35px;
}
.content-box .address .title{
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    color: #000;
    padding-left: 15px;
}
.content-box .address .address-list{
    border: 1px solid #626262;
    width: 362px;
    height: 230px;
    margin-left: 27px;
    margin-top: 21.5px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}
.content-box .address .address-list:hover{
    border: 1px solid #be0a67;
}
.content-box .address .address-list .list{
    border-bottom: 1px solid #626262;
}
.content-box .address .address-list .list .item{
    margin-bottom: 1px;
    margin-right: 10px;
}
.content-box .address .address-list .list .item-a{
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}
.content-box .address .address-list .list .item-b{
    font-size: 18px;
    color: #000;
    margin-top: 10px;
    margin-left: 70px;
}
.content-box .address .address-list .list-a{
    border-bottom: 1px solid #626262;
    margin-top: 15px;
}
.content-box .address .address-list .list-a .item{
    margin-bottom: 1px;
    margin-right: 10px;
}
.content-box .address .address-list .list-a .item-a{
    font-size: 18px;
    color: #000;
    margin-top: 5px;
}
.content-box .address .address-list .list-b{
    margin-top: 37px;
}
.content-box .address .address-list .list-b .item-a{
    font-size: 18px;
    color: #000;
    line-height: 43px;
    margin-left: 12px;
}
.content-box .address .address-list .list-p{
    margin-top: 45px;
    margin-left: 110px;
}
.content-box .address .address-list .list-p .title-l{
    font-size: 18px;
    color: #000;
}
.content-box .number-box .number-list{
    height: 40px;
    line-height: 40px;
    background-color: #d2d2d2;
    margin-top: 40px;
}
.content-box .number-box .number-list .list:nth-child(1){
    margin-left: 105px;
}
.content-box .number-box .number-list .list:nth-child(4){
    margin-right: 0px;
}
.content-box .number-box .number-list .list{
    margin-right: 200px;
    font-size: 18px;
    color: #000;
}
.content-box .number-box .number-list-a{
    border: 1px solid #626262;
    border-top: none;
    padding: 34px 0 34px 12px;
}
.content-box .number-box .number-list-a .list{
    display: block;
}
.content-box .number-box .number-list-a .list .img{
    margin-right: 10px;
}
.content-box .number-box .number-list-a .list .item-a{
    font-size: 16px;
    color: #000;
    width: 205px;
    margin-top: 20px;
}
.content-box .number-box .number-list-a .list-a{
    font-size: 16px;
    color: #000;
    margin-left:45px;
    width: 150px;
    margin-top: 25px;
    word-wrap: break-word;
    word-break: normal;
}
.content-box .number-box .number-list-a .list-b{
    margin-top: 25px;
    font-size: 16px;
    color: #000;
    margin-left:135px;
    width: 50px;
}
.content-box .number-box .number-list-a .list-c{
    margin-top: 25px;
    font-size: 16px;
    color: #be0a67;
    margin-left:190px;
    width: 100px;
    word-wrap: break-word;
    word-break: normal;
}
.content-box .form-box{
    border: 1px solid #626262;
    margin-top: 30px;
    padding: 10px 20px 50px 20px;
}
.content-box .form-box .form-list .item{
    font-size: 14px;
    color: #000;
    cursor: pointer;
    vertical-align: top;
}
.content-box .form-box .form-list .item-a{
    width: 18.5px;
    height: 18.5px;
    margin: 0px 5px  0px 5px;
    cursor: pointer;
}
.content-box .form-box .distribution .distribution-list .list{
    font-size: 14px;
    color: #000;
}
.content-box .form-box .distribution .distribution-list{
    margin: 15px 0;
}
.content-box .form-box .distribution .distribution-list .list-a{

}
.content-box .form-box .distribution .distribution-list .list-a .item{
    font-size: 12px;
    margin: 0 5px;
    color: #000;

}
.content-box .form-box .distribution .font{
    vertical-align:top;
    font-size: 14px;
    color: #000;
}
.content-box .form-box .distribution .textarea{
    resize: none;
    width: 330px;
    height: 120px;
    outline: none;

}
.content-box .placeorder{
    text-align: right;
    margin-top: 30px;
    margin-bottom: 40px;
}
.content-box .placeorder .item{
    font-size: 16px;
    color: #000;
}
.content-box .placeorder .item-a{
    font-size: 16px;
    color: #be0a67;
}
.content-box .placeorder .title{
    width: 105px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-align:center;
    background-color:#be0a67;
    margin-top: 25px;
    cursor: pointer;
}
